{% extends 'base.html' %}
<!-- {% load crispy_forms_tags %} -->
{% block content %}
<!-- <div class="content-wrapper"> -->
  <!-- Content Header (Page header) -->
  <!-- <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>DataTables</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  <!-- </section> -->
  <div class="container-fluid px-5 my-5">
   
    <div  x-data="{ open: false }">
      <button type="button"
            class="btn btn-outline-primary btn-icon-text  mb-3"
            @click="open = ! open" >
        <span class="mdi mdi-chevron-double-down" x-show="!open"  >ADD NEW</span>
        <span class="mdi mdi-chevron-double-up" x-show="open"  >Hide Form</span>
      </button>

      <form hx-encoding ="multipart/form-data"
              hx-post="{% url 'add_customer' %}"
              hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
              class="modal-content"
              x-show.transition.duration.2000ms="open"
              hx-target='#customerList'
              x-transition
                >
          <div class="modal-body container">
            <div class="mb-3 row">
              <div class="form-group col-md-4 mb-0">
                {{  accountForm.name|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                 {{  form.email|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                   {{  form.logo|as_crispy_field  }}
                </div>
            </div>
  
            <div class="mb-3 row">
              <div class="form-group col-md-4 mb-0">
               {{  form.address|as_crispy_field  }}
              </div>
              <div class="form-group col-md-4 mb-0">
               {{  form.phoneNumber1|as_crispy_field  }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{  form.webSite|as_crispy_field }}
             </div>
           </div>
            <div class="mb-3 row">
  
  
             <div class="form-group col-md-6 mb-0">
                    {{  form.tradeRecord|as_crispy_field  }}
             </div>
  
             <div  class="form-group   col-md-6 px-5"  >
  
                <div class="form-check form-switch form-check-inline ">
                    <input type="checkbox"
                    class="form-check-input"
                    name="client"
                     >
                    <label  class="form-check-label">
                        client
                    <i class="input-helper"></i></label>
                </div>
  
                <div class="form-check form-switch form-check-inline ">
                    <input type="checkbox"
                    class="form-check-input"
                    name="supplier"
                     >
                    <label  class="form-check-label">
                        supplier
                    <i class="input-helper"></i></label>
                </div>
  
  
  
  
              </div>
              </div>
              </div>
  
  
  
  
  
        <div class="mb-3 row">
  
             <div class="form-group col-md-3 mb-0 mx-5">
            <button type="submit" class="btn btn-primary"
             @click="open = ! open"
  
            >Save</button>
            </div>
  
            <div class="form-group col-md-3 mb-0">
            <button type="reset" value="Reset" class="btn btn-primary">Reset</button>
            </div>
  
  
          </div>
          </div>
  
        </form>
  
    </div>
  
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
         <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with default features</h3>
              
            </div>
            <!-- /.card-header -->
            
            <div class="card-body">
              <table id="tabel1" class="table-bordered table-striped table-responsive table">
                <thead>
                  <tr>
                  <th>account</th>
                  <th>logo</th>
                  <th>category</th>
                  <th>address</th>
                  <th>phoneNumber1</th>
                  <th>phoneNumber2</th>
                  <th>tradeRecord</th>
                  <th>email</th>
                  <th>webSite</th>
                  <th>LastUpdate</th>
                  <th>author</th>
                  <th></th>
                  </tr>
                </thead>
                <tbody>
               
                {% for custmer in customers %}
                <tr>
                  <td>{{ custmer.account }}</td>
                  <td><img class="rounded-circle article-img" height="60" width="60" src="{{ custmer.logo.url }}"></td>
                  <td>{{ custmer.phoneNumber1 }}</td>  
                </tr>
                {% endfor %}
                 </tbody>
                <tfoot>
                
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
<!-- </div> -->

{% endblock %}
 
<!-- hx-trigger="load, customerListChanged from:body"
                hx-get="{% url 'customer_list' %}"
                hx-target="this"
                id="customerList"> -->