{% for company in companys %}
<tr id="company-{{ company.pk }}" class="company-row">

    <td>{{ company.name  }}</td>
    <td>{{ company.logo  }}</td>
    <td>{{ company.address  }}</td>
    <td>{{ company.phoneNumber1  }}</td>
    <td>{{ company.phoneNumber2  }}</td>
  <!--   <td>{{ company.phoneNumber3  }}</td>
    <td>{{ company.phoneNumber4  }}</td> -->
    <td>{{ company.tradeRecord  }}</td>
    <td>{{ company.email  }}</td>
    <td>{{ company.webSite  }}</td>


  <td>
    <button class="btn btn-primary btn-sm" hx-get="{% url 'edit_company' pk=company.pk %}" hx-target="#dialog">Edit</button>
  </td>
</tr>
{% endfor %}